
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("kuriousagency\\usermanual\\assetbundles\\usermanual\\UserManualAsset") %}

{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "user-manual" %}
{% set title = craft.userManual.name|t %}

{% block sidebar %}
	{% set currentPage = craft.app.request.absoluteUrl %}
	<nav>
		<ul>
			{% for page in craft.userManual.getNavBar() %}
				<li>
					<a href="{{ page.link }}" class="{{ (page.link == currentPage) ? 'sel' : '' }}">{{ page.title }}</a>
					{% if page.hasDescendants %}
						<ul>
							{% for child in page.children %}
								<li>
									<a href="{{ child.link }}" class="{{ (child.link == currentPage) ? 'sel' : '' }}">{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}

{% block content %}
	<div class="twbs" id="user-manual">
		<div class="container">
			{{ craft.userManual.getHelpDocument()|raw }}
		</div>
	</div>
{% endblock %}
